<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.onlineholdem.restclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Main Activity"
            android:name=".activity.MainActivity">
        </activity>
        <activity
            android:label="Login Activity"
            android:name=".activity.LoginActivity">
        </activity>

        <activity
            android:label="SinglePlayer Activity"
            android:name=".activity.SinglePlayerActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="SinglePlayerSettings Activity"
            android:name=".activity.SinglePlayerSettingsActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:label="GameBrowser Activity"
            android:name=".activity.GameBrowserActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:label="MultiPlayer Activity"
            android:name=".activity.MultiPlayerActivity"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>
