* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poetsen";
    src: url("font/poetsen.otf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Poetsen, Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
}

.container {
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    width: 100%;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}

.left {
    float: left;
    margin-left: 10px;
}

.back {
    position: absolute;
    right: 10px;
    top: 0px;
}

h1, h3 {
    font-size: 56px;
    color: #137235;
    font-weight: normal;
    margin-bottom: 20px;
}

header h1 {
    font-size: 56px;
    color: #060607;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    padding: 10px;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    color: #aaa;
    padding: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

p {
    padding: 10px;
    color: #ccc;
    text-shadow: none;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

input {
    padding: 5px;
    font-size: 18px;
}

th {
    padding: 10px;
}

thead tr {
    background: #137235;
}

td {
    height: 30px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.dataTables_filter, .dataTables_info , .dataTables_paginate{
    float: right;
}

.alignCenter {
    text-align: center;
}

.even {
    background: #5E5E5E;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    background: #000000;
    opacity: 0.5;
}

.form {
    margin: auto;
    margin-top: 40px;
    text-align: center;
}


.form label {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: middle;
}

.firstCol {
    padding-left: 10px;
}

.joinedGame {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.row {
    display: inline-block;
    width: 70%;
    padding: 10px 0 10px 0;
}

.odd:hover, .even:hover, .selectedRow {
    background-color: #1C9949;
}

.closeBtn {
     float: right;
     font-size: 60px;
     color:#137235;
 }

.closeBtn:hover {
    color:#1C9949;
}

.button {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    text-shadow: none;
    font-size: 18px;
    letter-spacing: 1px;
    background: #137235;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 5px 0 #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 5px 0 #000000;
    cursor: pointer;
    border: 0;
    outline: none;
}

.button:active {
    top: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button:hover {
    background: #1C9949
}

.register-button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.content {
    padding: 40px 40px 80px 40px;
    width: 70%;
    background: #222;
    margin-left: 200px;
    position: relative;
}

.popup {
    padding: 40px 40px 80px 40px;
    top: 100px;
    width: 40%;
    left: 25%;
    background: #222;
    position: absolute;
    z-index: 100;
}

.popup .row{
    width: 100%;
}

.paginate_enabled_next {
    color: #137235;
    cursor: pointer;
}

.paginate_enabled_previous {
    color: #137235;
    margin-right: 10px;
    cursor: pointer;
}
.paginate_disabled_previous {
    margin-right: 10px;
}

.dataTables_paginate {
    margin-top: -20px;
}

.dataTables_info {
    margin-top: -20px;
    margin-right: 50px;
}

.header {
    padding: 20px 40px 20px 40px;
    width: 70%;
    background: #137235;
    margin-left: 200px;
    display: inline-block;
    position: relative;
}

.errorInput {
    border: 2px solid red;
    background-color: rgb(255, 211, 211);
}

.field {
    display: inline-block;
    width: 70%;
    height: 45px;
}

span.error {
    color: red;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

ul.menu {
    list-style: none;
    position: fixed;
    height: 270px;
    width: 54px;
    left: 50px;
    top: 150px;
}

ul.menu li {
    display: block;
}

ul.menu li a {
    background: #137235;
    display: block;
    padding: 10px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    outline: none;
    border: 2px solid #333;
    text-align: center;
}

ul.menu li a:hover {
    background: #1C9949
}

ul.menu li a img {
    border: none;
}

.activeMenu {
    background: #1C9949 !important;
    pointer-events: none;
}